html,
button,
input,
select,
textarea {
    color: #222;
}



::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin:  0;
    background: #ccc;
    color: #000;
    padding:  0;
}

/* Author Styles */

html {
	
	background-image: url(img/Rocks-2.jpg); 
	background-attachment: fixed;
       background-position: center; 
	  background-repeat: no-repeat;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

body {
	margin: 0;
	padding: 0;
	height: 0;
	
}

header {
	margin: 1.5% 0 0 1%;
	padding: 0;
	
}

header .brand {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	font-size: 40px;
	margin: 0;
	padding: .5% 1% .5% 1%;
	border-style: solid;
	border-width: 2%;
}

#main {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	    font-size: 17px;
	    line-height: 23px;
	    margin: 15% auto 0 auto;
		padding: 0 0 0 0;
	
	
}

#main h1 {
	
	text-align: center;
    font-family: 'Montserrat', sans-serif;
	letter-spacing: 10px;
	color: #2c3e50;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 46px;
    font-size: 43px;
    margin: 0 0 0 0;
	padding: 5% 0 5% 0;
	
}


#container {
	
	width: 100%;
	margin: 10% auto 0 auto;
	padding: 0;
	
}

#nav {
	width: 40%;
	margin: 0 auto 5% auto;
	padding: 2% 0 2% 0;
	background: rgb(204, 204, 204); 
	background: rgba(0, 0, 0, 0.5);
}

#nav ul {
	text-align: center;
	font-family: 'Playfair Display SC', serif;
	color: #FFFFFF;
	    font-size: 20px;
	    line-height: 23px;
	    letter-spacing: 3px;
		margin: 0;
		padding: 0;
		
		
}

#nav ul li {
	text-align: center;
	list-style-type: none;
	display: inline-block;
	padding: 0;
	
}

#nav ul a {
	text-decoration: none;
	color: #FFFFFF;	
}

#nav ul a:hover{
	color: rgb(204, 204, 204); 
	color: rgba(0, 0, 0, 0.5);
}

footer {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0 auto 0 auto;
	
}











